.card-principal {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 100;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
}

.btn-grande {
  font-size: 18px;
  padding: 12px 24px;
}
.logo {
  font-size: 20px;
}
.space {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--navbar-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}
main {
  background-color: var(--navbar-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}
