<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-toolbar>
        <span class="logo">Carlos Henrique</span>
        <span class="space"></span>
        <mat-icon>build</mat-icon>
        <button
          mat-button="elevated"
          color="primary"
          class="btn-grande"
          (click)="scrollToSection('#skills')"
        >
          Skills
        </button>

        <mat-icon>book</mat-icon>
        <button
          mat-button="elevated"
          color="primary"
          class="btn-grande"
          (click)="scrollToSection('#education')"
        >
          Projetos
        </button>

        <mat-icon>phone</mat-icon>
        <button
          mat-button="elevated"
          color="primary"
          class="btn-grande"
          (click)="scrollToSection('#contact')"
        >
          Contato
        </button>

        <span class="space"></span>
        <mat-icon>{{
          (isDarkMode$ | async) ? "bedtime" : "brightness_5"
        }}</mat-icon>
        <mat-slide-toggle
          class="toggle-dark-mode"
          (change)="toggleTheme()"
        ></mat-slide-toggle>
      </mat-toolbar>
      <div class="container-fluid mt-2">
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6 d-flex flex-row justify-content-end"></div>
        </div>
      </div>
    </div>
  </div>
</div>
