.btn-grande {
  font-size: 18px;
  padding: 12px 24px;
}
.logo {
  font-size: 20px;
}
.space {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--navbar-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}
main {
  background-color: var(--navbar-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}
