<div class="container">
  <mat-card appearance="outlined" class="project-card">
    <mat-card-header class="project-header">
      <mat-card-title class="project-title"
        ><mat-icon style="color: var(--primary-color)" class="book-icon"
          >book</mat-icon
        ></mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="project-list-content">
      <div class="project-item">
        <div class="project-img">
          <h3 style="color: var(--primary-color)">
            Manejamento de clientes e ativos
          </h3>
          <a href="https://github.com/CarlosHenri05/crud-clientes">
            <img
              src="https://private-user-images.githubusercontent.com/171893021/450245161-cf5005af-721c-43cf-9673-527dac6a5676.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTA1MjY0MjAsIm5iZiI6MTc1MDUyNjEyMCwicGF0aCI6Ii8xNzE4OTMwMjEvNDUwMjQ1MTYxLWNmNTAwNWFmLTcyMWMtNDNjZi05NjczLTUyN2RhYzZhNTY3Ni5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwNjIxJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDYyMVQxNzE1MjBaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1mY2VkODY4NDJjODI0ZjIwOGEyNzkyNzVlMzcxZTFiYmU4NmRjYTY0MTZjMWJiZmFkMmVmOThlZWViNzdiNjUwJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.Wq5wXPHl6-vJjOUt4ZDqCw1Pok4KhBPT7xP8lk72DLQ"
              alt=""
              class="project-image"
              mat-card-image
            />
          </a>
          <p style="font-size: 20px">
            Uma aplicação CRUD (Create, read, update e delete) feita para
            manejar e controlar clientes e ativos, aplicando conhecimentos de
            MER e modelagem de dados + uma aplicação full-stack.
          </p>
          <p style="font-size: 20px">Tecnologias utilizadas:</p>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
              height="20"
            />
          </mat-chip>

          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/prisma/prisma-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastify/fastify-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
              height="20"
            />
          </mat-chip>
        </div>
      </div>
      <span class="space"></span>
      <div class="project-item">
        <div class="project-img">
          <h3 style="color: var(--primary-color)">Chatbot da FURIA</h3>
          <a href="https://github.com/CarlosHenri05/chatbot-furia">
            <img
              src="https://private-user-images.githubusercontent.com/171893021/438001295-27e99d30-b672-4e8c-ace2-72ce8830443e.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTA1Mjg2ODMsIm5iZiI6MTc1MDUyODM4MywicGF0aCI6Ii8xNzE4OTMwMjEvNDM4MDAxMjk1LTI3ZTk5ZDMwLWI2NzItNGU4Yy1hY2UyLTcyY2U4ODMwNDQzZS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwNjIxJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDYyMVQxNzUzMDNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kOGYwOGFkODExOTYwOGYwNzU5OTRjZjlmMWE1Yzg5ZDFmN2JmMTU1NmE0ODJmNjY0YWEyMGJjMTc3MzQ5OGNmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.lAxOomhAVRwKRojTofeLt5a9PQh1ZWT6N2PTqA69KaQ"
              alt=""
              class="project-image"
              mat-card-image
            />
          </a>
          <p style="font-size: 20px">
            Uma aplicação full-stack que utiliza o Groq para criar um chatbot
            que use uma LLm para responder questões e dúvidas sobre a empresa de
            e-sports FURIA.
          </p>
          <p style="font-size: 20px">Tecnologias utilizadas:</p>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastapi/fastapi-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
              height="20"
            />
          </mat-chip>
        </div>
      </div>
      <span class="space"></span>
      <div class="project-item">
        <div class="project-img">
          <h3 style="color: var(--primary-color)">Pesquisa em CSV</h3>
          <a
            href="https://github.com/CarlosHenri05/TesteTecnico/tree/main/TesteTecnico_aplicacaodozero"
          >
            <img src="/pesquisacsv.jpg" class="project-image" mat-card-image />
          </a>
          <p style="font-size: 20px">
            Aplicativo full-stack feito para para pesquisar dados específicos
            dentro de um documento CSV.
          </p>
          <p style="font-size: 20px">Tecnologias utilizadas:</p>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip
            ><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original-wordmark.svg"
              height="20"
          /></mat-chip>
        </div>
      </div>
      <span class="space"></span>
      <div class="project-item">
        <div class="project-img">
          <h3 style="color: var(--primary-color)">
            App para controle financeiro
          </h3>
          <a href="https://github.com/CarlosHenri05/financial-control-app">
            <img
              src="/backend.png"
              alt=""
              class="project-image"
              mat-card-image
            />
          </a>
          <p style="font-size: 20px">
            Uma aplicação back-end feita para controlar gastos e renda,
            baseando-se em tipos de gastos/rendas, cálculo de média, soma de
            valores, etc.
          </p>
          <p style="font-size: 20px">Tecnologias utilizadas:</p>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swagger/swagger-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/maven/maven-original.svg"
              height="20"
            />
          </mat-chip>
        </div>
      </div>
      <span class="space"></span>
      <div class="project-item">
        <div class="project-img">
          <h3 style="color: var(--primary-color)">Teste para Júnior - Itaú</h3>
          <a href="https://github.com/CarlosHenri05/api-transacoes">
            <img
              src="/backend.png"
              alt=""
              class="project-image"
              mat-card-image
            />
          </a>
          <p style="font-size: 20px">
            Um teste para vaga de Júnior no Itaú, onde foi necessário criar uma
            API RESTful que gerasse transações e permitisse a consulta de
            transações por data, valor e tipo, além de estatísticas financeiras
            das transações feitas no último minuto.
          </p>
          <p style="font-size: 20px">Tecnologias utilizadas:</p>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swagger/swagger-original.svg"
              height="20"
            />
          </mat-chip>
        </div>
      </div>
      <span class="space"></span>
      <div class="project-item">
        <div class="project-img">
          <h3 style="color: var(--primary-color)">Encurtador de URL's</h3>
          <a href="https://github.com/CarlosHenri05/url-shortener">
            <img
              src="/backend.png"
              alt=""
              class="project-image"
              mat-card-image
            />
          </a>
          <p style="font-size: 20px">
            Encurtador de URL's + integração com banco de dados não-relacional.
          </p>
          <p style="font-size: 20px">Tecnologias utilizadas:</p>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
              height="20"
            />
          </mat-chip>
          <mat-chip>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
              height="20"
            />
          </mat-chip>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
