<div class="container">
  <mat-card appearance="outlined" class="stack-card">
    <mat-card-header class="main-card-header">
      <mat-icon class="computer-icon" style="color: var(--primary-color)"
        >computer</mat-icon
      >
    </mat-card-header>

    <mat-card-content class="stack-list-content">
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
              alt="TypeScript icon"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">TypeScript</p>
          <p class="tech-description">Linguagem back-end e front-end.</p>
        </div>
      </div>

      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"
              alt="Java icon"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Java</p>
          <p class="tech-description">Linguagem back-end robusta.</p>
        </div>
      </div>

      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
              alt="Python icon"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Python</p>
          <p class="tech-description">
            Linguagem back-end web e análise de dados.
          </p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">NestJS</p>
          <p class="tech-description">
            Framework JavaScript/TypeScript robusto.
          </p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Node.js</p>
          <p class="tech-description">
            Ambiente de execução JavaScript no servidor.
          </p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">SpringBoot</p>
          <p class="tech-description">
            Framework Java para aplicações back-end.
          </p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastapi/fastapi-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">FastAPI</p>
          <p class="tech-description">
            Framework Python para aplicações back-end.
          </p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Flask</p>
          <p class="tech-description">
            Framework Python para aplicações back-end.
          </p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Postgresql</p>
          <p class="tech-description">Banco de dados relacional.</p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Angular</p>
          <p class="tech-description">Framework front-end para a web.</p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">MongoDB</p>
          <p class="tech-description">Banco de dados NoSQL.</p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Docker</p>
          <p class="tech-description">Ferramenta de containerização.</p>
        </div>
      </div>
      <div class="technology-item">
        <div class="tech-icon-wrapper">
          <mat-icon>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg"
            />
          </mat-icon>
        </div>
        <div class="tech-text-content">
          <p class="tech-name">Figma</p>
          <p class="tech-description">Ferramenta de design.</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
