.container {
  position: sticky;
}

.card-principal {
  margin-left: 60px auto;
  margin-top: 120px;
  padding: 80px;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.main-page-title {
  font-size: 30px;
}
.space {
  margin: 10px;
}

.cv-btn {
  margin-top: 20px;
}

mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}

mat-card-content {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}
