<div class="container">
  <mat-card class="card-principal" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="main-page-title"
        >Olá! Meu nome é Carlos</mat-card-title
      >
    </mat-card-header>
    <span class="space"></span>
    <mat-card-content>
      <p>{{ longText }}</p>
      <p>{{ resumeText }}</p>
    </mat-card-content>
    <span class="space"></span>
    <mat-card-footer class="card-principal-footer">
      <mat-chip>
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/angular.svg"
        />
      </mat-chip>
      <mat-chip>
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/nodedotjs.svg"
        />
      </mat-chip>
      <mat-chip>
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/nestjs.svg"
        />
      </mat-chip>
      <mat-chip>
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/openjdk.svg"
        />
      </mat-chip>
      <mat-chip>
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/springboot.svg"
        />
      </mat-chip>
    </mat-card-footer>
  </mat-card>
</div>
