.card-principal {
  position: fixed;
  margin-left: 10px auto;
  margin-top: 120px;
  padding: 80px;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.main-page-title {
  font-size: 30px;
}
.space {
  margin: 10px;
}

.cv-btn {
  margin-top: 20px;
}

mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}

mat-card-content {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}
@media (max-width: 375px) {
  .card-principal {
    position: static;
    max-width: 350px;
    padding: 25px;
    margin-top: 80px;
  }

  .main-page-title {
    font-size: 22px;
  }

  .space {
    margin: 10px;
  }

  .cv-btn {
    margin-top: 18px;
  }

  mat-card {
    padding: 12px;
    margin-bottom: 9px;
  }

  mat-card img {
    width: 38px;
    margin-bottom: 9px;
  }

  mat-chip {
    height: 28px;
    width: 28px;
  }

  mat-chip img {
    width: 9px;
    height: 9px;
  }

  body {
    padding-top: 200px;
  }
}

@media (max-width: 425px) {
  .card-principal {
    position: static;
    max-width: 400px;
    padding: 30px;
    margin-top: 100px;
  }

  .main-page-title {
    font-size: 24px;
  }

  .space {
    margin: 10px;
  }

  .cv-btn {
    margin-top: 20px;
  }

  mat-card {
    padding: 15px;
    margin-bottom: 10px;
  }

  mat-card img {
    width: 40px;
    margin-bottom: 10px;
  }

  mat-chip {
    height: 30px;
    width: 30px;
  }

  mat-chip img {
    width: 10px;
    height: 10px;
  }

  body {
    padding-top: 250px;
  }
}

@media (max-width: 768px) {
  .card-principal {
    position: static;
    margin-left: 10px auto;
    margin-top: 120px;
    padding: 80px;
    max-width: 600px;
  }

  .main-page-title {
    font-size: 30px;
  }

  .space {
    margin: 10px;
  }

  .cv-btn {
    margin-top: 20px;
  }
}
