<div class="container">
  <mat-card class="card-principal" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="main-page-title"
        >Olá! Meu nome é Carlos</mat-card-title
      >
    </mat-card-header>
    <span class="space"></span>
    <mat-card-content>
      <p>{{ longText }}</p>
      <p>{{ resumeText }}</p>
    </mat-card-content>
    <span class="space"></span>
    <mat-card-footer class="card-principal-footer">
      <mat-chip style="background-color: white">
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/angular.svg"
        />
      </mat-chip>
      <mat-chip style="background-color: white">
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/nodedotjs.svg"
        />
      </mat-chip>
      <mat-chip style="background-color: white">
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/nestjs.svg"
        />
      </mat-chip>
      <mat-chip style="background-color: white">
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/openjdk.svg"
        />
      </mat-chip>
      <mat-chip style="background-color: white">
        <img
          height="20"
          width="20"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/springboot.svg"
        />
      </mat-chip>
      <br />
      <span class="space"></span>
      <p>{{ socials }}</p>
      <mat-chip style="background-color: white">
        <a href="https://github.com/CarlosHenri05">
          <img
            src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/github.svg"
            height="20"
            width="20"
            alt=""
          />
        </a>
      </mat-chip>
      <mat-chip style="background-color: white">
        <a href="https://www.linkedin.com/in/carloshenridias/">
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgMGgtMTRjLTIuNzYxIDAtNSAyLjIzOS01IDV2MTRjMCAyLjc2MSAyLjIzOSA1IDUgNWgxNGMyLjc2MiAwIDUtMi4yMzkgNS01di0xNGMwLTIuNzYxLTIuMjM4LTUtNS01em0tMTEgMTloLTN2LTExaDN2MTF6bS0xLjUtMTIuMjY4Yy0uOTY2IDAtMS43NS0uNzktMS43NS0xLjc2NHMuNzg0LTEuNzY0IDEuNzUtMS43NjQgMS43NS43OSAxLjc1IDEuNzY0LS43ODMgMS43NjQtMS43NSAxLjc2NHptMTMuNSAxMi4yNjhoLTN2LTUuNjA0YzAtMy4zNjgtNC0zLjExMy00IDB2NS42MDRoLTN2LTExaDN2MS43NjVjMS4zOTYtMi41ODYgNy0yLjc3NyA3IDIuNDc2djYuNzU5eiIvPjwvc3ZnPg=="
            height="20"
            width="20"
          />
        </a>
      </mat-chip>
      <br />
      <button mat-flat-button class="cv-btn">
        <a
          href="/CarlosHenriqueCV.pdf"
          download="CarlosHenriqueCV.pdf"
          style="text-decoration: none; color: white"
        >
          Baixar meu CV</a
        >
      </button>
    </mat-card-footer>
  </mat-card>
</div>
