:root {
  --primary-color: #e10089;
  --background-color: #ffffff;
  --text-color: #333333;
  --navbar-color: #ffffff;
}

.dark-theme {
  --primary-color: #e10089;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --navbar-color: #1a1a1a;
}

.container {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}

main {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms, color 200ms;
}
